@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');
*{
    outline: none;
}
body{
    background: #f5f5f5;
    padding: 0;
    margin: 0;
    background: url(assets/outershape.webp);
    background-position:  top right;
    background-repeat: no-repeat;
    height: 100vh;
}

header{
    margin: 0;
    padding: 14px 1.5rem;
    padding-bottom: 0%;
}
header .hetext{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #363f3f;
    margin: 0%;
}
.logo{
    width:5rem;
}
header h1 span{
    font-size: 20px;
    color: inherit;
}
header h2{
        
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #011627a1;
    margin-top: 0;
}
form{
    position: relative;
}
header form .forms{
    position: absolute;
    top: 16%;
    right: 5px;
    font-size: 30px;
    color: rgba(1, 22, 39, 0.6) !important;
    cursor: pointer;
    pointer-events: all;
}
.search{
    min-width: 312px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    background: rgba(46, 196, 182, 0.14);
    border-radius: 6px;
    /* padding: 0  0 0 1.8rem ; */
    padding-left: .4rem;
    color: #011627a1;
    border: none;
}

.Mimage{
    height: 122px;
    width: 136px;
    border-radius: 6px;
    object-fit: cover;
    -o-object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .3s filter linear;
}
.Mimage:hover{
    filter:  brightness(.8);
    transition: .3s filter linear;
}

main{
    margin-top: 0;
    padding: 0 1.5rem;
}
.menall{
    display: flex;
    justify-content: space-between;
}
.cae{
    /* max-height: ; */
}
.feacon{
    padding: 14px 1.5rem;
    height: 25vh;
}
.htext{

    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #363f3f;

}
.onetime{
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:  #FE8787;

}
.cardcontainer{
    min-height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 14px;
}
.card{
    max-height: 122px;
    max-width: 342px;
    display: flex;
    justify-content: space-between;
    transition: .3s linear padding;
    margin-top: 1rem;
}
.cardinfo{
    max-height: 104px;
    max-width: 198px;
    min-width: 180px;
    margin-left: 10px;

}
.Mtitle{
font-family: 'Poppins',sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #363f3f;
margin: 0%;
}

.Msubtitle{
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    overflow-y: hidden;
    width: 9rem;
    letter-spacing: 0em;
    text-align: left;
    color: #011627a1;
    margin: 0%;
}
.pricecontainer{
    /* background: #011627a1; */
    margin-top:17px;
    max-width: 198px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
font-family: 'Inter',sans-serif;
/* font-family: 'Poppins',sans-serif; */

font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
/* color: #363f3f; */
color: #011627a1;
}
.add{
    width: 54px;
    /* height: 32px;  */
    padding: .4rem 0;
    /* background: #2EC4B6; */
    background: transparent; 
    border-radius: 6px;
    /* border-top-left-radius: 19px; */
    border: none;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* color: #FDFFFC; */
    /* color: #2EC4B6; */
    color: #FE8787;
    transition: .3s all linear;
}
.add:hover{
    border-radius: 0;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    /* color: #FDFFFC; */
    color: #f5f5f5;
    background: #FE8787;
    transition: .3s all linear;
}

.sidecontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    /* max-width: 342px; */
}
.sidecontainer::-webkit-scrollbar{
    scroll-behavior: smooth;
}

.imgcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 65px; */
    width: 8rem;
    height: 54px;
    left: 24px;
    top: 652px;
    /* background: rgba(215, 220, 220, 0.4); */
    background: #2ec4b508;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 0 .8rem;
    margin-bottom: .4rem ;
}
.imgcontainer:hover .fex{
    color: #2EC4B6;
    transition: .3s;
}
.imgcontainer:nth-child(1){
    margin-left: 0.1rem;
}
.fex{
    font-size: 30px;
    color: #011627;
    transition: .3s color linear;
}

.Ftext{
    font-family: 'Poppins',sans-serif;
    /* width: 5rem; */
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 27px;
    color: rgba(1, 22, 39, 0.6);
    text-align: center;
}
.footerNav{
    padding: 0 1.5rem;
    max-width: 390px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -3px 5px 0 #01162723;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    margin-bottom: 0;
}
.fncontainer{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 342px;
}
.fotimg{
    font-size: 30px;
    transition: .3s;
}
.active{
    color: #2EC4B6;
    transition: .3s color linear;
}
.fotimg:hover{
    color: #2EC4B6;
    transition: .3s color linear;
}
a{
    text-decoration: none;
    color: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  log in page*/
.sh{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2EC4B6;
}
.sm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inpcon{
    position: relative;
    margin: 14px 0;
}

.slo{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.45);
    top: 18%;
    right: 1px;
    line-height: 24px;
    pointer-events: none;
    position: absolute;
}
.si{
    min-width: 288px;
    max-width: 500px;
    height: 40px;
    padding: 0% 0 0 5%;
    border-radius: 6px;
    background: #2EC4B624;
    border: none;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(1, 22, 39, 0.6);
}

.si:focus ~ .slo{
    color: #FE8787;
}

.chs{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(1, 22, 39, 0.6);
}
.red{
    color: #FE8787;
}
.already{
    /* height: 20vh; */
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.inputcontainer{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sbtn{
    margin-top: 23px;
    width: 232px;
    height: 60px;


    background: rgba(46, 196, 182, 0.14);
    border-radius: 6px;
        
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #FE8787;

    border: none;
    transition: .3s color linear;
}
.sbtn:hover{
    color: #011627a1;
    transition: .3s  color linear;
}
.already h2{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: rgba(1, 22, 39, 0.6);
}
.hlo{
    display: block;
    width: 25%;
}
/* allitems page */
.alm{
    height: 72vh;
}
.pos{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw !important;
    padding: 0% !important;
    background: #FDFFFC;
}
/* cart page */
.ccon{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    overflow-y: scroll;
}
.ccon::-webkit-scrollbar{
    display: none;
}
.ccon .ca{
    margin: .5rem 0;
}
.ca:hover{
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 0.4rem ;
    transition: .3s padding linear;
}
.ca:hover .Mimage{
    box-shadow: none;
}
.cimg{
    width: 91px;
    height: 82px;
}
.cinfo{
    min-width: 212px !important;
    max-height: 82px;
}
.itemheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itm{
    background: #FE8787;
    /* width: 1.8rem;
    height: 1.8rem; */
    padding: .3rem .6rem;
    font-size: 20px;
    border-radius: 9px;
    color: #f5f5f5;
    transition: .3s background color linear;
}
.itm:hover{
    background: transparent;
    color: #FE8787;
    transition: .3s background color linear;
}
.cp {
    margin:0 ;
    width: 100%;
    max-width: 212px ;
}
.prcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6rem;
}

.prit{
    background: #D7DCDC66;
    padding: .3rem .6rem;
    border-radius: 6px;
}
.count{
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.total{
    padding: 14px 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tocon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    margin: 4px;
}
.toti{
    font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;

color: #011627;
}
.checkout{
    padding: .4rem ;
    /* color: #363f3f; */
    color: #011627a1;
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-radius: 6px;
    background: #2EC4B624;
    transition: .3s  background color linear;
    
}
.checkout:hover{
    background: #2ec4b508;
    color: #363f3f;
    transition: .3s  background color linear ;
}
@media screen and (min-width: 412px) {
    header .container {
        display: flex;
        flex-direction: column;

    }

    /* login */
    .sbtn{
        padding: .58rem;
    }
}